{% extends 'base.html.twig' %}

{% block title %}Hello ListeController!{% endblock %}

{% block body %}
<div class="msgbox">
    <h2> Liste de tous les évenements répertoriés sur le site</h2>
</div>
{% endblock %}
