{% extends 'base.html.twig' %}

{% block title %}PTS4 CCJS{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue !</h1>
    <div class="msgbox">
        <h2>Ce site est un catalogue répertoriant les évenements du monde scientifique</h2>
        <h2>Sur ce site, vous pouvez consulter toutes les informations sur  </h2>
    </div>
</div>
{% endblock %}
