<!DOCTYPE html>
{% block stylesheets %}<link rel = "stylesheet" type = "text/css" href = "https://bootswatch.com/4/sandstone/bootstrap.min.css" />{% endblock %}
<html>
    <head>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">CCJS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/liste">Liste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recherche">Recherche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ajout">Ajout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Profil</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" method="GET" action = {{path("recherche")}}>
                <input class="form-control mr-sm-2" type="text" name="recherche"placeholder="Termes à rechercher">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </div>
            </nav>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
